<!DOCTYPE html>
<html>
<head>
	<title>Display Window - 1</title>
	<link rel="stylesheet" type="text/css" href="window.css">
	<link rel="stylesheet" type="text/css" href="layout.css">
	<link rel="stylesheet" type="text/css" href="keyboard.css">
	<!-- icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src='angular.js'></script>
	
	<script src="jquery-3.5.1.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body onload="Simulation.load()" ng-app='SimFast' ng-controller='SimFastController'>
	
	<div id="mainContainer">

		<div id="leftSide" class='screenHalf'>

			<div id="timeControls">
				<section id="simControlsContainer">
					<button id='playButton' class="timeControlButton fa fa-play" onclick="loadSim()"></button>
					<button id='stopButton' class="timeControlButton fa fa-stop" onclick="Simulation.stop()"></button>
					<button id='restartButton' class="timeControlButton fa fa-refresh" onclick="restartSim()"></button>
				</section>

				<section id="timeContainer">
					<div id="timerScreen">
						<span id="timer">--:--:--<span id="frameDisplay">:--</span></span>
						
					</div>
				</section>

				<section id="timeSliderContainer">
					<input type="range" min="1" max="25" value="1" class="slider" id="myRange">
					<p id="speedDisplay">1</p><span>x</span>
				</section>

				
				<!-- <input type="text" id="simSpeedInput">
				<button onclick="Simulation.changeSimSpeed()">Sim Speed</button>  -->
			</div>

			<section id="screenContainer">
				<div id='shadowOverlay'></div>
				<canvas id="canvas" width="950" height="750"></canvas>

			<!-- Canvas created here -->
				<div id="map"></div>
				
				
			</section>
		</div>



		

		<div id="rightSide" class='screenHalf'>

			<span class="interfaceLabel">Flights Loaded:</span>
			<div id="flightListScreen">
				<table>
				<tr class="flightListRow" ng-repeat='flight in flightList' ng-class="{'even':$even,'odd':$odd}">
					<td class="tableElement">{{flight.ID}}</td>
					
				</tr>
				</table>
			</div>

			<div id= "flightStripContainer">
				<div class="flightStripCol">
					{{selectedFlight.ID}}<br>
					{{selectedFlight.aircraftType}}

				</div>
				<div class="flightStripCol">
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
				</div>


				<div class="flightStripCol">
					{{selectedFlight.departure}}
				</div>
				<div class="flightStripCol"></div>
				<div class="flightStripCol">
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
				</div>

				<div class="flightStripCol">
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
				</div>
				<div class="flightStripCol">
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
					<div class="flightStripRow"></div>
				</div>

			</div>
			
		
				


			
      			
      			
		      	<section id="keyboardContainer">
		      		<div id= 'inputContainer'>
		      			<input id="input1" class='displayScreen' type='text' ng-model='input1'></input>
		      		</div>
		      	
		      	
		      		<section id='topRows'>
<!-- TOP 2 ROWS ABOVE SPACEBAR -->
			      		<button class='unusedButton green'>
			      		</button>
			      		<button class='unusedButton green'>CNTR
			      		</button>
			      		<button class='unusedButton green'>MAPS
			      		</button>
			      		<button class='unusedButton green'>WX
			      		</button>
			      		<button class='unusedButton white'>CORE
			      		</button>
			      		<button class='unusedButton white'>SIGN<br>ON
			      		</button>
			      		<button class='unusedButton green'>BRITE
			      		</button>
			      		<button class='unusedButton green'>LDR
			      		</button>
			      		<button class='unusedButton green'>CHAR<br>SIZE
			      		</button>
			      		<button class='unusedButton green'>SHIFT
			      		</button>


			      		
	<!-- ROW1 END -->
	<!-- ROW2 START -->
						<button class='unusedButton green'>DCB
			      		</button>
			      		<button class='unusedButton green'>RING<br>RING
			      		</button>
			      		<button class='unusedButton green'>RANGE
			      		</button>
			      		<button class='unusedButton green'>
			      		</button>
			      		<button class='unusedButton white'>PREF<br>SET
			      		</button>
			      		<button class='unusedButton white'>
			      		</button>
			      		<button class='unusedButton green'>
			      		</button>
			      		<button class='unusedButton green'>
			      		</button>
			      		<button class='unusedButton green'>SITE
			      		</button>
			      		<button class='unusedButton green'>MODE
			      		</button>
			      	</section>	
			      	<br>
<!-- ROW2 END -->
					<section id="spaceBarRow">
						<button class='yellow medButton' ng-click="clearAll()">Clear
			      		</button>
			      		<button class='yellow' ng-click="backSpace()">BACK<br>SPACE
			      		</button>
			      		<button id="spaceBar" class='yellow' ng-click="pushChar(' ')">SPACE
			      		</button>
			      		<button class='red medButton' ng-click="sendCommand()">ENTER
			      		</button>
					</section>
<!-- LOWER KEYS -->
					<section id="lowerKeyboard">
						<button class='unusedButton green'>INIT<br>CNTL
			      		</button>
			      		<button class='unusedButton green'>TRK<br>RPOS
			      		</button>
			      		<button class='unusedButton green'>TRK<br>SUSP
			      		</button>
			      		<button class='unusedButton green'>TERM<br>CNTL
			      		</button>
			      		<button class='unusedButton white'>HND<br>OFF
			      		</button>
			      		<button class='unusedButton white' ng-click="selectFlight()">FLT<br>DATA
			      		</button>
			      		<button class='unusedButton green'>MULTI<br>FUNC
			      		</button>
			      		<button class='unusedButton green'>F8
			      		</button>
			      		<button class='unusedButton white'>&#916;
			      		</button>
			      		<button class='unusedButton white'>.
			      		</button>



			      		<button class='unusedButton green'>F9
			      		</button>
			      		<button class='unusedButton green'>F10
			      		</button>
			      		<button class='unusedButton green'>CA
			      		</button>
			      		<button class='unusedButton green'>F12
			      		</button>
			      		<button class='unusedButton white'>F13
			      		</button>
			      		<button class='unusedButton white'>F14
			      		</button>
			      		<button class='unusedButton green'>TGT<br>GEN
			      		</button>
			      		<button class='unusedButton green'>F16
			      		</button>
			      		<button class='unusedButton white'>IFR<br>+
			      		</button>
			      		<button class='unusedButton white'>VFR<br>/
			      		</button>
					

					

		      		
		      			<button class='charButton'
		      				ng-click="pushChar('A')">A
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('B')">B
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('C')">C
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('D')">D
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('E')">E
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('F')">F
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('G')">G
			      		</button>
		      		

		      		<button ng-click="pushChar('1')"
		      				class='numberButton'>1
		      		</button>

		      		<button ng-click="pushChar('2')"
		      				class='numberButton'>2
		       	</button>

		      		<button ng-click="pushChar('3')"
		      				class='numberButton'>3
		      
		      		</button>

		      			<button class='charButton'
		      				ng-click="pushChar('H')">H
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('I')">I
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('J')">J
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('K')">K
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('L')">L
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('M')">M
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('N')">N
			      		</button>

		      		<button ng-click="pushChar('4')" 
		      				class='numberButton'>4
		      		</button>

		      		<button ng-click="pushChar('5')"
		      				class='numberButton'>5
		      		</button>

		      		<button ng-click="pushChar('6')"
		      				class='numberButton'>6
		      		</button>

		      			<button class='charButton'
		      				ng-click="pushChar('O')">O
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('P')">P
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('Q')">Q
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('R')">R
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('S')">S
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('T')">T
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('U')">U
			      		</button>

		      		<button ng-click="pushChar('7')" 
		      				class='numberButton'>7
		      		</button>

		      		<button ng-click="pushChar('8')" 
		      				class='numberButton'>8
		      		</button>

		      		<button ng-click="pushChar('9')" 
		      				class='numberButton'>9
		      		</button>

		      			<button class='charButton'
		      				ng-click="pushChar('V')">V
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('W')">W
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('X')">X
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('Y')">Y
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('Z')">Z
			      		</button>
			      		<button class='charButton'
		      				ng-click="pushChar('*')">*
			      		</button>
			      		<button class='charButton'
		      				>MIN
			      		</button>
			      		<button class='charButton'
		      				>
			      		</button>

		      		<button ng-click="pushChar('0')" 
		      				class='numberButton'>0
		      		</button>
		      		<button class='charButton'
		      				>
			      	</button>


		      		

		      		
		      		
		      	</section>


		      	

		      	
		      	

	         
	      	
			</section>
		</div>
	</div>

	<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5ClkyJM7sXvUaZH_MBImQnM9vAVggRg&callback=initMap">
	</script>


	<script src="boxes.js"></script>
	
	

	
</body>
</html>