<!DOCTYPE html>
<html>
<head>
	<title>SimFast Team 4</title>
	<link rel="stylesheet" type="text/css" href="window.css">
	<link rel="stylesheet" type="text/css" href="layout.css">
	<link rel="stylesheet" type="text/css" href="keyboard.css">
	<link rel="stylesheet" type="text/css" href="colors.css">
	<link rel="stylesheet" type="text/css" href="navBar.css">
	<!-- icon library -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<script src='angular.js'></script>
	
	<script src="jquery-3.5.1.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body onload="Simulation.load()" ng-app='SimFast' ng-controller='SimFastController'>
	<div id="AppContainer">
		<div class="topnav" id="myTopnav">
			<section>IATA code:</section>
	  		<!-- <div class="dropdown">
	    		<button class="dropbtn">{{currentMap}}
	      		<i class="fa fa-caret-down"></i>
	    		</button>
	    		<div class="dropdown-content">
	      			<a ng-click="changeMap(39.8729, -75.2437,'PHL')">PHL</a>
	      			<a ng-click="changeMap(33.9416, -118.4085,'LAX')"> LAX</a>
	      			<a ng-click="changeMap(33.6407, -84.4277,'ATL')">ATL</a>
	    		</div>
	    	</div>  -->


	    	<!-- WHY THE FUCK DOES THIS BREAK IT -->
	    	<!-- onchange="changeMap(this.options[this.selectedIndex].value)"  -->
	    	<div id='why'>
	    	<div class="selectionBlocker">
	    		</div>
	    	<select id="mapSelection" class="custom-select" name = "selectMap">
	    		<option class='mapChoice' value='{"latitude":39.8729,"longitude":-75.2437, "IATAcode":"PHL"}'>PHL</option>
	    		<option class='mapChoice' value='{"latitude":33.9416,"longitude":-118.4085, "IATAcode":"LAX"}'>LAX</option>
	    		<option class='mapChoice' value='{"latitude":33.6407,"longitude":-84.4277, "IATAcode":"ATL"}'>ATL</option>
	    		<option class='mapChoice' value='{"latitude":39.849312,"longitude":-104.673828, "IATAcode":"DEN"}'>DEN</option>
	    		<option class='mapChoice' value='{"latitude":25.7933,"longitude": -80.2906, "IATAcode":"MIA"}'>MIA</option>
	    		<option class='mapChoice' value='{"latitude":32.897480,"longitude":-97.040443, "IATAcode":"DFW"}'>DFW</option>
	    		<option class='mapChoice' value='{"latitude":40.641766,"longitude":-73.780968, "IATAcode":"JFK"}'>JFK</option>



	    		

	    	</select>
	    	
	    	</div>
	    	<!-- <a href="#about">airport running </a> -->
	    	<section>Simulation:</section>
  			<!-- <div class="dropdown">
	    		<button class="dropbtn">Sim1 
	      		<i class="fa fa-caret-down"></i>
	    		</button>
	    		<div class="dropdown-content">
	      			<a ng-click="changeSim('flights2')">Sim1</a>
	      			<a ng-click="changeSim('flights2')"> Sim2</a>
	      			<a ng-click="changeSim('flights2')">Sim3</a>
	    		</div>
	    	</div> -->
	    	<div id='why'>
	    	<div class="selectionBlocker">
	    		</div>
	    	<select id="simSelection" class="custom-select" onchange="" name = "selectSim">
	    		<option ng-repeat="(key,value) in Sims_List" value="{{key}}">{{key}}</option>

	    	</select>
	    	</div>
	    	<div id="highlightCheckbox">
	    		<label>Guides</label>
	    	<input type="checkbox"
       				ng-model="highlightSelected"
       				ng-value="false">
   			</div>


	    	<!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> -->
	    </div>
	    <div id="mainContainer">

	    	<div id="leftSide" class='screenHalf'>
	    		<section class="screw l t"></section>
	    		<section class="screw r t"></section>
	    		<section class="screw l b"></section>
	    		<section class="screw r b"></section>

	    		<div id="timeControls">
	    			<section id="simControlsContainer">
	    				<button id='playButton' class="timeControlButton" onclick="Simulation.start()"><span class="">&#9654;</span></button>

	    				<button id='stopButton' class="timeControlButton" onclick="Simulation.stop()"><span class="">&#9724;</span></button>
	    				<button id='restartButton' class="timeControlButton" onclick="restartSim()"><span class="">&#8634;</span></button>
	    			</section>

	    			<section id="timeContainer">
	    				<div id="timerScreen">
	    					<span id="timer">--:--:--<span id="frameDisplay">:--</span></span>

	    				</div>
	    			</section>

	    			<section id="timeSliderContainer">
	    				<div id="speedDisplayContainer"><p>Speed:</p><p id="speedDisplay">1</p><span>x</span></div>
	    				<input type="range" min="1" max="25" value="1" class="slider" id="myRange">

	    			</section>


				<!-- <input type="text" id="simSpeedInput">
					<button onclick="Simulation.changeSimSpeed()">Sim Speed</button>  -->
				</div>

				<section id="screenContainer">
					<div id="turningOnAnimation"></div>
					<div id="mapBlocker"></div>
					<div id='shadowOverlay'></div>
					<canvas id="canvas" width="900" height="720"></canvas>

					<!-- Canvas created here -->
					<div id="map" onload="initMap()"></div>


				</section>
			</div>





			<div id="rightSide" class='screenHalf'>
				<section class="screw l t"></section>
				<section class="screw r t"></section>
				<section class="screw l b"></section>
				<section class="screw r b"></section>

				<span class="interfaceLabel">Flights:</span>
				<div id="flightListScreen">

					<table>
						<tr class="flightListRow" ng-repeat='flight in flightList' ng-class="{'even':$even,'odd':$odd}" ng-click="selectFlightFromList($event)">
							<td class="tableElement">{{("00"+flight.spawnTimeMin).slice(-2)}}:{{("00"+flight.spawnTimeSec).slice(-2)}}</td>
							<td class="tableElement">{{flight.letter}}</td>
							
							<td class="tableElement">{{flight.aircraftType}}</td>
							<td class="tableElement">{{flight.departure}}</td>
							<td class="tableElement">{{flight.destination}}</td>
							<td class="tableElement">{{flight.ID}}</td>

						</tr>
					</table>
				</div>

				<div id= "flightStripContainer">
					<div id="firstBox" class="flightStripColBlock">
						{{selectedFlight.ID}}<br>
						{{selectedFlight.aircraftType}}


					</div>
					<div class="flightStripCol">
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
					</div>


					<div class="flightStripColBlock">
						{{selectedFlight.departure}}
					</div>
					<div id="bigBox" class="flightStripColBlock">
						{{selectedFlight.departure}} {{selectedFlight.beacons}} <br> {{selectedFlight.destination}}
					</div>
					<div class="flightStripCol">
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
					</div>

					<div class="flightStripCol">
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
					</div>
					<div class="flightStripCol">
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
						<div class="flightStripRow"></div>
					</div>

				</div>


				





				<section id="keyboardContainer">
					<div id= 'inputContainer'>
						<input autocomplete = "off" id="input1" class='displayScreen' type='text' ng-model='input1'></input>
					</div>


					<section id='topRows'>
						<!-- TOP 2 ROWS ABOVE SPACEBAR -->
						<button class='unusedButton green'>
						</button>
						<button class='unusedButton green'><span>CNTR</span>
						</button>
						<button class='unusedButton green'><span>MAPS</span>
						</button>
						<button class='unusedButton green'><span>WX</span>
						</button>
						<button class='unusedButton white'><span>CORE</span>
						</button>
						<button class='unusedButton white'><span>SIGN<br>ON</span>
						</button>
						<button class='unusedButton green'><span>BRITE</span>
						</button>
						<button class='unusedButton green'><span>LDR</span>
						</button>
						<button class='unusedButton green'><span>CHAR<br>SIZE</span>
						</button>
						<button class='unusedButton green'><span>SHIFT</span>
						</button>



						<!-- ROW1 END -->
						<!-- ROW2 START -->
						<button class='unusedButton green'><span>DCB</span>
						</button>
						<button class='unusedButton green'><span>RING<br>RING</span>
						</button>
						<button class='unusedButton green'><span>RANGE</span>
						</button>
						<button class='unusedButton green'><span></span>
						</button>
						<button class='unusedButton white'><span>PREF<br>SET</span>
						</button>
						<button class='unusedButton white'><span></span>
						</button>
						<button class='unusedButton green'><span></span>
						</button>
						<button class='unusedButton green'><span></span>
						</button>
						<button class='unusedButton green'><span>SITE</span>
						</button>
						<button class='unusedButton green'><span>MODE</span>
						</button>
					</section>	
					<br>
					<!-- ROW2 END -->
					<section id="spaceBarRow">
						<button class='yellow medButton' ng-click="clearAll()"><span>Clear</span>
						</button>
						<button class='yellow' ng-click="backspace()"><span>BACK<br>SPACE</span>
						</button>
						<button id="spaceBar" class='yellow' ng-click="pushChar(' ')"><span>SPACE</span>
						</button>
						<button class='red medButton' ng-click="parseInput()"><span>ENTER</span>
						</button>
					</section>
					<!-- LOWER KEYS -->
					<section id="lowerKeyboard">
						<button class='unusedButton green'><span>INIT<br>CNTL</span>
						</button>
						<button class='unusedButton green'><span>TRK<br>RPOS</span>
						</button>
						<button class='unusedButton green'><span>TRK<br>SUSP</span>
						</button>
						<button class='unusedButton green'><span>TERM<br>CNTL</span>
						</button>
						<button class='unusedButton white'><span>HND<br>OFF</span>
						</button>
						<button class='unusedButton white' ng-click="selectFlight()"><span>FLT<br>DATA</span>
						</button>
						<button class='unusedButton green'><span>MULTI<br>FUNC</span>
						</button>
						<button class='unusedButton green'><span>F8</span>
						</button>
						<button class='unusedButton white'><span>&#916;</span>
						</button>
						<button class='unusedButton white'><span>.</span>
						</button>



						<button class='unusedButton green'><span>F9</span>
						</button>
						<button class='unusedButton green'><span>F10</span>
						</button>
						<button class='unusedButton green'><span>CA</span>
						</button>
						<button class='unusedButton green'><span>F12</span>
						</button>
						<button class='unusedButton white'><span>F13</span>
						</button>
						<button class='unusedButton white'><span>F14</span>
						</button>
						<button class='unusedButton green'><span>TGT<br>GEN</span>
						</button>
						<button class='unusedButton green'><span>F16</span>
						</button>
						<button class='unusedButton white'><span>IFR<br>+</span>
						</button>
						<button class='unusedButton white'><span>VFR<br>/</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('A')"><span>A</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('B')"><span>BCN<br>B</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('C')"><span>CFG<br>C</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('D')"><span>DIS<br>D</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('E')"><span>EMG<br>E</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('F')"><span>FIL<br>F</span>
						</button>
						<button class='charButton'
							ng-click="pushChar('G')"><span>G</span>
						</button>


						<button id="one" ng-click="pushChar('1')"
						class='numberButton'><span>1</span>
						</button>

						<button id="two" ng-click="pushChar('2')"
						class='numberButton'><span>2</span>
						</button>

						<button id="three" ng-click="pushChar('3')"
						class='numberButton'><span>3</span>

						</button>

						<button class='charButton'
						ng-click="pushChar('H')"><span>H</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('I')"><span>I</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('J')"><span>J</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('K')"><span>K</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('L')"><span>LDR<br>L</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('M')"><span>MOD<br>M</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('N')"><span>N</span>
						</button>

						<button id="four" ng-click="pushChar('4')" 
						class='numberButton'><span>4</span>
						</button>

						<button ng-click="pushChar('5')"
						class='numberButton'><span>5</span>
						</button>

						<button id="six" ng-click="pushChar('6')"
						class='numberButton'><span>6</span>
						</button>

						<button class='charButton'
						ng-click="pushChar('O')">OFF<br><span>O</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('P')">PRE<br><span>P</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('Q')"><span>Q</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('R')"><span>R</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('S')"><span>SYS<br>S</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('T')"><span>TAB<br>T</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('U')"><span>U</span>
						</button>

						<button id="seven" ng-click="pushChar('7')" 
						class='numberButton'><span>7<br>&#8601;</span>
						</button>

						<button id="eight"ng-click="pushChar('8')" 
						class='numberButton'><span>8<br>&#8595;</span>
						</button>

						<button id="nine" ng-click="pushChar('9')" 
						class='numberButton'><span>9<br>&#8600;</span>
						</button>

						<button class='charButton'
						ng-click="pushChar('V')"><span>V</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('W')"><span>W</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('X')"><span>X</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('Y')"><span>Y</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('Z')"><span>Z</span>
						</button>
						<button class='charButton'
						ng-click="pushChar('*')"><span>*</span>
						</button>
						<button class='charButton'
						><span>MIN</span>
						</button>
						<button class='charButton'
						>
						</button>

						<button ng-click="pushChar('0')" 
						class='numberButton'><span>0</span>
						</button>
						<button class='charButton'
						>
						</button>






					</section>









				</section>
			</div>
		</div>
	</div>

<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5ClkyJM7sXvUaZH_MBImQnM9vAVggRg&callback=initMap">
</script>


<script src="main.js"></script>






</body>
</html>