#keyboardContainer button{
	font-size: 10px;
    min-height:35px;
    min-width: 40px;
	text-align: center;
    font-weight: bolder;
    position:relative;
    box-sizing: none;
    border-style: outset;
    border-width: 3px;

}
#keyboardContainer button span{
    position: relative;
}

#keyboardContainer button:focus{
    outline: none;
}
#keyboardContainer button:active{
    border-style: inset;
}

#keyboardContainer button:active span,
#keyboardContainer button:active:after{
    top:2px;
    left:2px;
}
#seven:active:after,
#eight:active:after,
#nine:active:after{

    bottom:2px;
    /*left:2px;*/
}

#spaceBarRow{
	display:flex;

}
#spaceBar{
	flex-grow: 5;
}
.medButton{
	flex-grow: .5;
}
#topRows{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
#lowerKeyboard{
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  	grid-template-rows: repeat(6,1fr);
  	gap: 3px 1px;
	
	flex-grow: 2;

}	

.green{
	background-color: green;
	color:white;
	text-align: center;
}
.yellow{
	background-color: gold;
	color:black;
	text-align: center;
}
.red{
	background-color: red;
	color:black;
	text-align: center;
}

#one:after {
    content:"\02196";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
#two:after {
    content:"\02191";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
#three:after {
    content:"\02197";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
#four:after {
    content:"\02190";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
#six:after {
    content:"\02192";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
#seven:after {
    content:"";
  display: block;
  position: absolute;
  top: 60%;
  right: 0px;
  width: 100%;
  height: 100%;
}
#eight:after {
    content:"";
  display: block;
  position: absolute;
  top: 60%;
  right: 0px;
  width: 100%;
  height: 100%;
}
#nine:after {
    /*content:"\02198";*/
    content:'';
  display: block;
  position: absolute;
  top: 60%;
  right: 0px;
  width: 100%;
  height: 100%;
}


